<div>{{ message() }}</div>
<input type="text" placeholder="Your input here..." (keyup)="keyUpHandler($event)"/>

<h3>Tasks List</h3>

<!--Structural directive-->
@if (!taskItems().length) {
  <p>Loading ...</p>
}

<ul>
  <!--for loop render using a control flow block (instead of *ngFor)
  , track by unique field-->
  @for (task of taskItems(); track task.id) {
    <app-task-item (taskClicked)="updateTask($event)" [task]="task" />
  }
</ul>

<!--<nz-table [nzData]="listOfData">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Complete</th>-->
<!--    <th>Name</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let data of listOfData">-->
<!--    <td [nzChecked]="data.isCompleted"></td>-->
<!--    <td>{{data.name}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</nz-table>-->
